<!-- MAIN -->
<main
	class="flex flex-column align-center padding back_img">
	<!-- Partie Home -->
	<div class="home">
		<h1>
			Developpeur Web Full Stack</h1>
		<!-- pour défilement en js -->
		<div id="sousTitre" style="height: 3rem;">
			<p class="text-end fs-3 fw-bold" style="display : none">Bonjour!
			</p>
			<p class="text-end fs-3 fw-bold" style="display : none">Front End
			</p>
			<p class="text-end fs-3 fw-bold" style="display : none">Back End
			</p>
			<p class="text-end fs-3 fw-bold" style="display : none">HTML5 CSS3
			</p>
			<p class="text-end fs-3 fw-bold" style="display : none">Bootsrap
			</p>
			<p class="text-end fs-3 fw-bold" style="display : none">JavaScript
			</p>
			<p class="text-end fs-3 fw-bold" style="display : none">SQL PHP
			</p>
			<p class="text-end fs-3 fw-bold" style="display : none">Synfony
			</p>
		</div>
		<!-- pour animation rotation en js -->
		<div class="container1">
			<div class="container2">
				<img src="{{ asset('images/logo_react.png') }}" alt="Logo de React">
			</div>
		</div>
	</div>
