<!-- NAVBAR -->
<header class="flex flex-column padding ">
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-5">
    <a class="navbar-brand fs-1 " href="#">Fabrice Hendrikx</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto fs-5" id="main-nav">
            <li class="nav-item active px-3">
                <a class="nav-link" id="home"  href="{{path('app_home')}}">Home
                    <span class="sr-only"></span>
                </a>
            </li>
            <li class="nav-item px-3">
                <a class="nav-link" id="about"  href="{{path('app_about')}}">About Me</a>
            </li>
            <li class="nav-item px-3">
                <a class="nav-link" id="portfolio"  href="{{path('app_portfolio')}}">Portfolio</a>
            </li>
            <li class="nav-item px-3">
                <a class="nav-link" id="contact" href="{{path('app_contact')}}">Contact</a>
            </li>
        </ul>
    </div>
</nav>

</header>
