{% extends 'base.html.twig' %}

{% block title %}Welcome to my Portfolio !
{% endblock %}


{% block body %}

	<div class=" container mt-5 pt-5 d-flex justify-content-center align-items-center" style="max-height:60vh;">
		<img src="{{ asset('images/underconstruction.webp') }}" class="img-fluid" alt="Under Construction">
	</div>
{% endblock %}
